In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("13 sort dataframe based on multiple columns").getOrCreate()

c:\Users\kumav\Desktop\Spark_Project\youtube_de_project1-master\data_Phoenix_migration\venv\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [3]:
spark

In [4]:
data = [
 ('Alice', 34, 'New York'),
 ('Bob', 45, 'San Francisco'),
 ('Catherine', 29, 'Los Angeles'),
 ('Daniel', 35, 'New York'),
 ('Eva', 45, 'Los Angeles')
]
columns = ['Name', 'Age', 'City']

In [5]:
df = spark.createDataFrame(data, columns)
df.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|    Alice| 34|     New York|
|      Bob| 45|San Francisco|
|Catherine| 29|  Los Angeles|
|   Daniel| 35|     New York|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [6]:
df_sorted_by_age = df.sort('Age')
df_sorted_by_age.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
+---------+---+-------------+

In [7]:
df_sorted_by_age_city = df.sort('Age', 'city')
df_sorted_by_age.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [8]:
df_sorted_by_age_city = df.sort(F.desc('Age'))
df_sorted_by_age_city.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
|   Daniel| 35|     New York|
|    Alice| 34|     New York|
|Catherine| 29|  Los Angeles|
+---------+---+-------------+

In [9]:
df.write.csv("daily_activities\\pyspark_coding_challenge30\\src\\output", header = True)