Calculate the average salary and count of employees for each department.

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.functions import col

In [15]:
spark = SparkSession.builder \
    .appName("2nd day spark challenge")\
    .getOrCreate()

In [16]:
data = [
 ("Sales", 5000, "John"),
 ("Sales", 6000, "Doe"),
 ("HR", 7000, "Jane"),
 ("HR", 8000, "Alice"),
 ("IT", 4500, "Bob"),
 ("IT", 5500, "Charlie"),
]

columns = ['Department', 'salary', 'emp_name']

df = spark.createDataFrame(data, schema=columns)
df.show()

+----------+------+--------+
|Department|salary|emp_name|
+----------+------+--------+
|     Sales|  5000|    John|
|     Sales|  6000|     Doe|
|        HR|  7000|    Jane|
|        HR|  8000|   Alice|
|        IT|  4500|     Bob|
|        IT|  5500| Charlie|
+----------+------+--------+

In [21]:
result_df = df.groupBy(col("Department")).agg(
            f.avg(col("salary")).alias("Average salary"),
            f.count(col("emp_name")).alias("count of employees"))

result_df.show()

+----------+--------------+------------------+
|Department|Average salary|count of employees|
+----------+--------------+------------------+
|     Sales|        5500.0|                 2|
|        HR|        7500.0|                 2|
|        IT|        5000.0|                 2|
+----------+--------------+------------------+