In [2]:
from pyspark.sql import SparkSession

Spark = SparkSession.builder.appName("Percentage calculation").getOrCreate()
Spark

c:\Users\kumav\Desktop\Spark_Project\youtube_de_project1-master\data_Phoenix_migration\venv\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [4]:
data = [
 ("Sales", 5000, "John"),
 ("Sales", 6000, "Doe"),
 ("HR", 7000, "Jane"),
 ("HR", 8000, "Alice"),
 ("IT", 4500, "Bob"),
 ("IT", 5500, "Charlie"),
]

columns = ['Department', 'salary', 'emp_name']

df = Spark.createDataFrame(data, schema=columns)
df.show()

+----------+------+--------+
|Department|salary|emp_name|
+----------+------+--------+
|     Sales|  5000|    John|
|     Sales|  6000|     Doe|
|        HR|  7000|    Jane|
|        HR|  8000|   Alice|
|        IT|  4500|     Bob|
|        IT|  5500| Charlie|
+----------+------+--------+

In [ ]:
from pyspark.sql.functions import sum, broadcast
df1 = df.groupby("Department").agg(sum("Salary").alias("Total_Salary"))
df1.show()

+----------+------------+
|Department|Total_Salary|
+----------+------------+
|     Sales|       11000|
|        HR|       15000|
|        IT|       10000|
+----------+------------+

In [15]:
df_joined = df.join(broadcast(df1), df["Department"] == df1["Department"], 'inner')
df_joined.show()

+----------+------+--------+----------+------------+
|Department|salary|emp_name|Department|Total_Salary|
+----------+------+--------+----------+------------+
|     Sales|  5000|    John|     Sales|       11000|
|     Sales|  6000|     Doe|     Sales|       11000|
|        HR|  7000|    Jane|        HR|       15000|
|        HR|  8000|   Alice|        HR|       15000|
|        IT|  4500|     Bob|        IT|       10000|
|        IT|  5500| Charlie|        IT|       10000|
+----------+------+--------+----------+------------+

In [11]:
from pyspark.sql.functions import *

df_percent = df_joined.withColumn("Salary Percentage", 
                                  round((col('salary')/col('Total_Salary')) * 100,2))
df_percent.show()

+----------+------+--------+----------+------------+-----------------+
|Department|salary|emp_name|Department|Total_Salary|Salary Percentage|
+----------+------+--------+----------+------------+-----------------+
|     Sales|  5000|    John|     Sales|       11000|            45.45|
|     Sales|  6000|     Doe|     Sales|       11000|            54.55|
|        HR|  7000|    Jane|        HR|       15000|            46.67|
|        HR|  8000|   Alice|        HR|       15000|            53.33|
|        IT|  4500|     Bob|        IT|       10000|             45.0|
|        IT|  5500| Charlie|        IT|       10000|             55.0|
+----------+------+--------+----------+------------+-----------------+

In [14]:
df_percent1 = df_percent.withColumn(
    'emp_name', when(col('emp_name') == "John", "Mahesh").otherwise(col('emp_name'))
)
df_percent1.show()

+----------+------+--------+----------+------------+-----------------+
|Department|salary|emp_name|Department|Total_Salary|Salary Percentage|
+----------+------+--------+----------+------------+-----------------+
|     Sales|  5000|  Mahesh|     Sales|       11000|            45.45|
|     Sales|  6000|     Doe|     Sales|       11000|            54.55|
|        HR|  7000|    Jane|        HR|       15000|            46.67|
|        HR|  8000|   Alice|        HR|       15000|            53.33|
|        IT|  4500|     Bob|        IT|       10000|             45.0|
|        IT|  5500| Charlie|        IT|       10000|             55.0|
+----------+------+--------+----------+------------+-----------------+

In [ ]:
def frequency(abc):
    dci = {}

    for char in abc:
        if char in dci:
            dci[char] += 1
        else:
            dci[char] = 1
    return dci

print(frequency('dogg0'))

def frequenc2(lst):
    if char in lst:
        print(char)
    el

{'d': 1, 'o': 1, 'g': 2, '0': 1}