In [ ]:

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("5 day practice").getOrCreate()

data = [("Alice", 30), 
 ("Bob", None), 
 ("Catherine", 25), 
 (None, 35), 
 ("Eve", None)]

columns = ["Name", "Age"]

c:\Users\kumav\Desktop\Spark_Project\youtube_de_project1-master\data_Phoenix_migration\venv\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [2]:
df = spark.createDataFrame(data, columns)
df.show()

+---------+----+
|     Name| Age|
+---------+----+
|    Alice|  30|
|      Bob|null|
|Catherine|  25|
|     null|  35|
|      Eve|null|
+---------+----+

In [3]:
df_dropNull = df.dropna(subset=["Age"])
df_dropNull.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 30|
|Catherine| 25|
|     null| 35|
+---------+---+

In [6]:
df_fillNull = df.fillna({"Age": 0.000})
df_fillNull.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 30|
|      Bob|  0|
|Catherine| 25|
|     null| 35|
|      Eve|  0|
+---------+---+

In [9]:
df_replacing = df.na.fill(100, subset=["Age"])
df_replacing.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 30|
|      Bob|100|
|Catherine| 25|
|     null| 35|
|      Eve|100|
+---------+---+

In [10]:
df_notNull = df.filter(df["Age"].isNotNull())
df_notNull.show()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 30|
|Catherine| 25|
|     null| 35|
+---------+---+