In [11]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
Spark = SparkSession.builder.appName("6 day adding new column").getOrCreate()

Spark

In [3]:
data = [("John", 28, "New York"), ("Sarah", 24, "London"), ("Michael", 30, "Sydney")]
columns = ["Name", "Age", "City"]

df = Spark.createDataFrame(data, columns)
df.show()

+-------+---+--------+
|   Name|Age|    City|
+-------+---+--------+
|   John| 28|New York|
|  Sarah| 24|  London|
|Michael| 30|  Sydney|
+-------+---+--------+

In [15]:
df_with_country = df.withColumn("country", f.lit("India"))
df_with_country.show()

+-------+---+--------+-------+
|   Name|Age|    City|country|
+-------+---+--------+-------+
|   John| 28|New York|  India|
|  Sarah| 24|  London|  India|
|Michael| 30|  Sydney|  India|
+-------+---+--------+-------+

In [12]:
df_country = df.withColumn("country",
                         f.when(df["city"] == "New York", "USA")
                        .when(df["city"] == "London" , "UK")
                        .when(df["city"] == "Sydney", "Australia")
                        .otherwise("Unknown")
)
df_country.show()

+-------+---+--------+---------+
|   Name|Age|    City|  country|
+-------+---+--------+---------+
|   John| 28|New York|      USA|
|  Sarah| 24|  London|       UK|
|Michael| 30|  Sydney|Australia|
+-------+---+--------+---------+

In [19]:
city_to_country = {"New York": "USA", "London": "UK", "Sydney": "Australia"}

# df_with_country_dict = df.replace(city_to_country, subset=["City"].withColumnRenamed("city", "Country"))

df_with_country = df.replace(city_to_country, subset=["City"])

# Rename column from 'City' to 'Country'
df_with_country_dict = df_with_country.withColumnRenamed("City", "Country")
df_with_country_dict.show()

+-------+---+---------+
|   Name|Age|  Country|
+-------+---+---------+
|   John| 28|      USA|
|  Sarah| 24|       UK|
|Michael| 30|Australia|
+-------+---+---------+