In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("word count").getOrCreate()

c:\Users\kumav\Desktop\Spark_Project\youtube_de_project1-master\data_Phoenix_migration\venv\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [3]:
df = spark.read.text("C:\\Users\\kumav\\Desktop\\Spark_Project\\Dataa\\word.txt")
df.show()

+--------------------+
|               value|
+--------------------+
|My name is mahesh...|
|My name is mahesh...|
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
+--------------------+

In [4]:
from pyspark.sql.functions import *
df1 = df.select(explode(split(df.value, " ")).alias('colun'))
df1.show()

+-------+
|  colun|
+-------+
|     My|
|   name|
|     is|
| mahesh|
|     My|
|   name|
|     is|
| mahesh|
| kishor|
|     my|
|   Name|
|     My|
|   name|
|     is|
| mahesh|
|   Raju|
|Kumavat|
|      I|
|     am|
|   from|
+-------+
only showing top 20 rows

In [6]:
df3 = df1.groupBy('colun').count().orderBy('count', ascending=False)
df3.show()

+-------------+-----+
|        colun|count|
+-------------+-----+
|             |    6|
|           My|    3|
|       mahesh|    3|
|           is|    3|
|         name|    3|
|       kishor|    1|
|         Raju|    1|
|         Name|    1|
|           my|    1|
|         from|    1|
|      Kumavat|    1|
|Sambhajinagar|    1|
|            I|    1|
|           am|    1|
|   Chatrapati|    1|
+-------------+-----+